# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# This file shows the original authors of the codes.

src/cart_callback.cpp       @addy1997
src/cart_callback_TEST.cpp  @addy1997
src/CMakeLists.txt          @addy1997
include/cart_callback.h     @addy1997
external/CMakeLists.txt     @addy1997
cmake/*                     @addy1997

test/*                      @AzvenusK
html/*                      @AzvenusK
latex/*                     @AzvenusK

src/*                       @jwtan5 
include/*                   @jwtan5 

mobile-app/*                @sarthakahuja11
rssi_value/*                @sarthakahuja11
