# excluding Doxygen from gitattributes
*.html linguist-detectable=false
*.js linguist-detectable=false
*.kt linguist-detectable=false
*.kts linguist-detectable=false
*.ktm linguist-detectable=false
*.css linguist-detectable=false

#text diffs
*.c     text diff=cpp
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=cpp
*.h++   text diff=cpp
*.hh    text diff=cpp