# exclusion
*.html  linguist-detectable=false
*.js    linguist-detectable=false
*.kt    linguist-detectable=false
*.kts   linguist-detectable=false
*.ktm   linguist-detectable=false
*.css   linguist-detectable=false

#language alteration
*.c     linguist-language=cpp
*.cc    linguist-language=cpp
*.cxx   linguist-language=cpp
*.cpp   linguist-language=cpp
*.c++   linguist-language=cpp
*.hpp   linguist-language=cpp
*.h     linguist-language=cpp
*.h++   linguist-language=cpp
*.hh    linguist-language=cpp